# Cleaning data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fires-weather.csv')

C:\Users\ethan\AppData\Local\Temp\ipykernel_21388\828109130.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fires-weather.csv')

In [3]:
df

,fire_id,lat,lon,date,hectares,STATION_NAME,PROV_STATE_TERR_CODE,LATITUDE,LONGITUDE,ELEVATION,...,TOTAL_PRECIPITATION_FLAG,SPEED_MAX_GUST_FLAG,LOCAL_YEAR,TOTAL_RAIN,MIN_REL_HUMIDITY_FLAG,TOTAL_RAIN_FLAG,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,CLIMATE_IDENTIFIER
0,0,50.9050,-126.9292,2000-03-10,6.00,EGG ISLAND,BC,51.1450,-127.50073,14.0,...,NaN,NaN,2000.0,3.5,NaN,NaN,NaN,3.5,0.0,1062646
1,1,49.2971,-122.2321,2000-08-21,0.20,PITT LAKE,BC,49.2600,-122.31000,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,55.8000,-124.8167,2005-06-20,0.01,MESILINKA CAMP,BC,56.0700,-124.30000,803.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,49.8770,-121.5730,2000-08-06,0.10,LYTTON A,BC,50.1328,-121.34550,224.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49.0667,-121.8333,2000-07-28,0.10,VEDDER SOUTH LICKMAN,BC,49.0600,-122.00000,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148758,148756,65.0282,-141.2460,2024-05-15,0.00,CLINTON CREEK,YT,64.2800,-140.44000,576.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148759,148757,55.9370,-121.9170,2024-05-12,295.00,HUDSON HOPE BCHPA DAM,BC,56.0100,-122.12000,678.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148760,148758,60.2150,-112.8720,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148761,148759,60.1950,-112.7960,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148762,148760,60.3920,-117.8960,2024-05-05,3.00,CAMERON HILLS,NT,60.1800,-117.03000,841.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Columns with mixed type

In [4]:
# Function to check mixed types in columns
def check_mixed_types(df):
    mixed_type_columns = {}
    for column in df.columns:
        types = df[column].map(type).unique()
        if len(types) > 1:
            mixed_type_columns[column] = types
    return mixed_type_columns

In [5]:
mixed_types = check_mixed_types(df)

for k, v in mixed_types.items():
    print(k, v)

PROVINCE_CODE [<class 'str'> <class 'float'>]
TOTAL_SNOW_FLAG [<class 'float'> <class 'str'>]
DIRECTION_MAX_GUST_FLAG [<class 'float'> <class 'str'>]
ID [<class 'str'> <class 'float'>]
MIN_TEMPERATURE_FLAG [<class 'float'> <class 'str'>]
MAX_REL_HUMIDITY_FLAG [<class 'float'> <class 'str'>]
LOCAL_DATE [<class 'str'> <class 'float'>]
COOLING_DEGREE_DAYS_FLAG [<class 'float'> <class 'str'>]
SNOW_ON_GROUND_FLAG [<class 'float'> <class 'str'>]
MEAN_TEMPERATURE_FLAG [<class 'float'> <class 'str'>]
MAX_TEMPERATURE_FLAG [<class 'float'> <class 'str'>]
TOTAL_PRECIPITATION_FLAG [<class 'float'> <class 'str'>]
SPEED_MAX_GUST_FLAG [<class 'float'> <class 'str'>]
MIN_REL_HUMIDITY_FLAG [<class 'float'> <class 'str'>]
TOTAL_RAIN_FLAG [<class 'float'> <class 'str'>]
HEATING_DEGREE_DAYS_FLAG [<class 'float'> <class 'str'>]
CLIMATE_IDENTIFIER [<class 'str'> <class 'float'>]

In [6]:
# Check PROVINCE_CODE
value_provinces = df['PROVINCE_CODE']
value_str_provinces = value_provinces.apply(lambda x: isinstance(x, str))

In [7]:
province_mix = pd.concat([value_provinces, value_str_provinces], axis=1)
province_mix.columns = ['PROVINCE_CODE', 'IS_STR']
province_mix

       PROVINCE_CODE  IS_STR
0                 BC    True
1                NaN   False
2                NaN   False
3                NaN   False
4                NaN   False
...              ...     ...
148758           NaN   False
148759           NaN   False
148760           NaN   False
148761           NaN   False
148762           NaN   False

[148763 rows x 2 columns]

Conclusion: NaN values are treated as floats, which are not strings -> Must force type conversion

In [8]:
# Create dictionary with types
types = {
    'PROVINCE_CODE': 'str',
    'TOTAL_SNOW_FLAG': 'str',
    'DIRECTION_MAX_GUST_FLAG': 'str',
    'ID': 'str',
    'MIN_TEMPERATURE_FLAG': 'str',
    'MAX_TEMPERATURE_FLAG': 'str',
    'LOCAL_DATE': 'str',
    'COOLING_DEGREE_DAYS_FLAG': 'str',
    'SNOW_ON_GROUND_FLAG': 'str',
    'MEAN_TEMPERATURE_FLAG': 'str',
    'TOTAL_PRECIPITATION_FLAG': 'str',
}

In [9]:
df = pd.read_csv('fires-weather.csv', dtype=types)

In [10]:
df

,fire_id,lat,lon,date,hectares,STATION_NAME,PROV_STATE_TERR_CODE,LATITUDE,LONGITUDE,ELEVATION,...,TOTAL_PRECIPITATION_FLAG,SPEED_MAX_GUST_FLAG,LOCAL_YEAR,TOTAL_RAIN,MIN_REL_HUMIDITY_FLAG,TOTAL_RAIN_FLAG,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,CLIMATE_IDENTIFIER
0,0,50.9050,-126.9292,2000-03-10,6.00,EGG ISLAND,BC,51.1450,-127.50073,14.0,...,NaN,NaN,2000.0,3.5,NaN,NaN,NaN,3.5,0.0,1062646
1,1,49.2971,-122.2321,2000-08-21,0.20,PITT LAKE,BC,49.2600,-122.31000,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,55.8000,-124.8167,2005-06-20,0.01,MESILINKA CAMP,BC,56.0700,-124.30000,803.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,49.8770,-121.5730,2000-08-06,0.10,LYTTON A,BC,50.1328,-121.34550,224.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49.0667,-121.8333,2000-07-28,0.10,VEDDER SOUTH LICKMAN,BC,49.0600,-122.00000,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148758,148756,65.0282,-141.2460,2024-05-15,0.00,CLINTON CREEK,YT,64.2800,-140.44000,576.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148759,148757,55.9370,-121.9170,2024-05-12,295.00,HUDSON HOPE BCHPA DAM,BC,56.0100,-122.12000,678.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148760,148758,60.2150,-112.8720,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148761,148759,60.1950,-112.7960,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148762,148760,60.3920,-117.8960,2024-05-05,3.00,CAMERON HILLS,NT,60.1800,-117.03000,841.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Duplicates

In [11]:
# Check for duplicate fire_id because indexing is wrong in the file
duplicates = df[df['fire_id'].duplicated(keep=False)]
duplicates

,fire_id,lat,lon,date,hectares,STATION_NAME,PROV_STATE_TERR_CODE,LATITUDE,LONGITUDE,ELEVATION,...,TOTAL_PRECIPITATION_FLAG,SPEED_MAX_GUST_FLAG,LOCAL_YEAR,TOTAL_RAIN,MIN_REL_HUMIDITY_FLAG,TOTAL_RAIN_FLAG,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,CLIMATE_IDENTIFIER
32682,32682,53.5645,-123.940,2018-06-23,144.1,MAPES,BC,53.53,-123.53,784.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32683,32682,53.5645,-123.940,2018-06-23,144.1,FORT FRASER 13S,BC,53.53,-124.35,701.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145995,145994,48.2770,-80.545,2023-06-23,1.9,CONNAUGHT,ON,48.37,-80.55,281.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145996,145994,48.2770,-80.545,2023-06-23,1.9,CONNAUGHT,ON,48.37,-80.54,281.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Drop duplicates
no_duplicates = df.drop_duplicates(subset='fire_id')

In [13]:
no_duplicates

,fire_id,lat,lon,date,hectares,STATION_NAME,PROV_STATE_TERR_CODE,LATITUDE,LONGITUDE,ELEVATION,...,TOTAL_PRECIPITATION_FLAG,SPEED_MAX_GUST_FLAG,LOCAL_YEAR,TOTAL_RAIN,MIN_REL_HUMIDITY_FLAG,TOTAL_RAIN_FLAG,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,CLIMATE_IDENTIFIER
0,0,50.9050,-126.9292,2000-03-10,6.00,EGG ISLAND,BC,51.1450,-127.50073,14.0,...,NaN,NaN,2000.0,3.5,NaN,NaN,NaN,3.5,0.0,1062646
1,1,49.2971,-122.2321,2000-08-21,0.20,PITT LAKE,BC,49.2600,-122.31000,7.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,55.8000,-124.8167,2005-06-20,0.01,MESILINKA CAMP,BC,56.0700,-124.30000,803.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,49.8770,-121.5730,2000-08-06,0.10,LYTTON A,BC,50.1328,-121.34550,224.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,49.0667,-121.8333,2000-07-28,0.10,VEDDER SOUTH LICKMAN,BC,49.0600,-122.00000,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148758,148756,65.0282,-141.2460,2024-05-15,0.00,CLINTON CREEK,YT,64.2800,-140.44000,576.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148759,148757,55.9370,-121.9170,2024-05-12,295.00,HUDSON HOPE BCHPA DAM,BC,56.0100,-122.12000,678.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148760,148758,60.2150,-112.8720,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148761,148759,60.1950,-112.7960,2024-04-26,0.10,BEAR TOWER,NT,60.3100,-113.14000,213.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148762,148760,60.3920,-117.8960,2024-05-05,3.00,CAMERON HILLS,NT,60.1800,-117.03000,841.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Save to CSV
no_duplicates.to_csv('2000-2021+2023-2024-fire-weather.csv', index=False)